/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  background-image: linear-gradient(
      rgba(62, 20, 20, 0.4),
      rgba(62, 20, 20, 0.4)
    ),
    url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: Lato;
  font-weight: 300;
  position: relative;
  height: 100vh;
  color: rgb(65, 157, 231);
}

/* main game board */
.wrapper {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.left-panel,
.right-panel {
  background: rgb(248, 248, 246);
  width: 50%;
  float: left;
  height: 600px;
  padding: 100px;
}

.right-panel {
  background: rgb(255, 255, 255);
}

/**********************************************
*** SELL  
**********************************************/
.sell-summary {
  overflow-y: auto;
  height: 200px;
  background-color: #f2f2f2;
  color: black;
  font-size: 14px;
}

/**********************************************
*** BUY
**********************************************/

.buy-priceflist {
  /* display: inline; the default for span */
  font-size: 15px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.buy-name,
.sell-tiftle {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.buy-balance {
  text-align: center;
  font-size: 80px;
  font-weight: 100;
  color: #eb4d4d;
  margin-bottom: 130px;
}

button {
  position: absolute;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  color: #555;
  background: none;
  border: none;
  font-family: Lato;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  font-weight: 600;
}

button:focus {
  outline: none;
}

.football {
  color: #eb4d4d;
  display: inline-block;
  margin-right: 15px;
  font-size: 32px;
  line-height: 1;
  vertical-align: text-top;
  margin-top: 50px;
  transition: margin 0.3s;
  cursor: pointer;
}

.btn-new {
  top: 45px;
}

.btn-nextDay {
  top: 400px;
}

/**********************************************
*** Inventory Dropdown
**********************************************/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  transition-delay: 1s;
  cursor: pointer;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 80%;
  top: 0%;
  transition-delay: 1s;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Divs inside dropdown */
.dropdown-content div {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {
  background-color: #ddd;
  border-radius: 10px;
  cursor: pointer;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/**********************************************
*** TOAST 
**********************************************/

/* The toast - position it at the bottom and in the middle of the screen */
#toast {
  visibility: hidden; /* Hidden by default. Visible on click */
  width: 300px; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 10px; /* Padding */
  position: relative;
  z-index: 1; /* Add a z-index if needed */
  left: 15%;
}

/* Show the toast when clicking on a button (class added with JavaScript) */
#toast.show {
  visibility: visible; /* Show the toast */
  /* Add animation: Take 0.5 seconds to fade in and out the toast. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the toast in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 0;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

/**********************************************
*** NOTIFICATIONS 
**********************************************/

.notification {
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: rgb(225, 234, 235);
}

.notification .badge {
  position: absolute;
  top: 75px;
  right: 75px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}

/**********************************************
*** ACCOUNT 
**********************************************/

#account {
  position: absolute;
  top: 0 px;
  right: 0 px;
  width: 450px;
  height: 360px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px 10px;
  background: rgb(228, 223, 255);
  color: black;
  text-align: center;
}

.title {
  padding: 5px 10px;
  top: 0 px;
  right: 0 px;
  font-weight: 800;
}

/**********************************************
*** STOCK IMAGES 
**********************************************/

.stock,
.football {
  transition: all 0.2s ease-in-out;
  height: 75px;
  width: 75px;
}
.stock:hover {
  transform: scale(1.1);
}

/**********************************************
*** FOOTBALL IMAGE
**********************************************/

.football:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.6s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-2px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-2px, -2px) rotate(-3deg);
  }
  30% {
    transform: translate(-3px, -3px) rotate(-5deg);
  }
  40% {
    transform: translate(-2px, -2px) rotate(-2deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(1deg);
  }
  60% {
    transform: translate(0px, 0px) rotate(3deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(5deg);
  }
  80% {
    transform: translate(2px, 2px) rotate(3deg);
  }
  90% {
    transform: translate(2px, 2px) rotate(1deg);
  }
  100% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
}
